#!/usr/bin/env bash

set -e

# create builder and compile app
docker build -f scripts/docker/armv7/build/Dockerfile -t atomy/media-iot-handler-builder .
docker run -v `pwd`:/app -w /app atomy/media-iot-handler-builder ./gradlew clean fatJar --no-daemon

# build app image
docker build -f scripts/docker/armv7/bundle/Dockerfile -t atomy/media-iot-handler .

docker tag atomy/media-iot-handler:latest xxx.dkr.ecr.eu-central-1.amazonaws.com/atomy/media-iot-handler
